.note-card {
  background: var(--color-primary-bg);
  border: 1px solid
    light-dark(rgba(31, 30, 29, 0.15), rgba(222, 220, 209, 0.15));
  padding: 1rem;
  cursor: pointer;
  position: relative;
  transition: border-color 0.15s;
  border-radius: 16px;

  &:hover {
    border-color: light-dark(rgba(31, 30, 29, 0.3), rgba(222, 220, 209, 0.3));
  }

  .note-title {
    font-size: 16px;
    margin: 0 0 0.5rem 0;
    color: var(--color-primary-text);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .note-body {
    font-size: 14px;
    margin: 0;
    color: var(--color-secondary-text);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .note-footer {
    display: flex;
    gap: 8px;
    margin-top: 12px;
    border-top: 1px solid var(--color-stroke-default);
    padding-top: 12px;

    .note-date {
      font-size: 12px;
      color: var(--color-tertiary-text);
    }

    .note-actions {
      margin-left: auto;
      display: flex;
      gap: 12px;

      .action-buttons {
        .pin-icon {
          transform: rotate(45deg);
        }
        .delete-icon {
          path {
            fill: var(--color-error-default);
          }
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
