.delete-modal-container {
  .text {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    margin-top: 10px;
  }
}
